* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: steelblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: steelblue;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    box-shadow: 0 0 30px gray;
    float: right;
}

p {padding: 0;}

main {
    max-width: 800px;
    width: 800px;
    margin: 5px;
    border: 1px solid gray;
    padding: 5px;
    background-color: aliceblue;
    color: black;
}

aside {
    width: 20rem;
    text-align: center;
    position: relative;
}

aside h2 {
    position: absolute;
    color: navy;
    top: 10px;
    left: 100px;
}
aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0,.2);
    padding: 1rem;
    color: black;
    background-color:silver;
}